In [1]:
import os
import pandas as pd

In [45]:
df_usu = pd.read_csv('../BASE_DE_DADOS_CNES_202003/dataset/Dados_indiv_MRJ_covid19.csv', encoding='latin1', sep=';')
df_usu.drop(columns=['Data_atualização', 'classificação_final'], inplace=True)
df_usu['dt_notific'] = pd.to_datetime(df_usu['dt_notific'], format='%d/%m/%Y')
df_usu['dt_inicio_sintomas'] = pd.to_datetime(df_usu['dt_inicio_sintomas'], format='%d/%m/%Y', dayfirst=True)
df_usu

,dt_notific,dt_inicio_sintomas,bairro_resid__estadia,ap_residencia_estadia,sexo,faixa_etária,evolução
0,2020-05-06,2020-05-05,TIJUCA,2.2,M,De 80 a 89,óbito
1,2020-04-08,2020-04-07,LARANJEIRAS,2.1,M,De 80 a 89,óbito
2,2020-04-30,2020-04-24,BOTAFOGO,2.1,M,De 90 a 100,óbito
3,2020-04-24,2020-04-23,JARDIM GUANABARA,3.1,M,De 80 a 89,óbito
4,2020-04-17,2020-04-07,CACHAMBI,3.2,M,De 60 a 69,óbito
...,...,...,...,...,...,...,...
11710,2020-04-14,2020-03-29,BARRA DA TIJUCA,4.0,M,De 50 a 59,recuperado
11711,2020-05-08,2020-04-21,JACAREPAGUA,4.0,M,De 60 a 69,recuperado
11712,2020-04-08,2020-04-03,BOTAFOGO,2.1,M,De 80 a 89,recuperado
11713,2020-05-06,2020-05-05,TIJUCA,2.2,M,De 80 a 89,ativo
11714,2020-05-12,2020-04-11,INDEFINIDO,N/D,F,De 20 a 29,recuperado

In [80]:
df_usu[df_usu['bairro_resid__estadia']=='TIJUCA'].groupby('dt_notific').count()#.cumsum().plot(y='evolução')

,dt_inicio_sintomas,bairro_resid__estadia,ap_residencia_estadia,sexo,faixa_etária,evolução
dt_notific,,,,,,
2020-03-18,1,1,1,1,1,1
2020-03-20,1,1,1,1,1,1
2020-03-23,3,3,3,3,3,3
2020-03-24,1,1,1,1,1,1
2020-03-25,1,1,1,1,1,1
2020-03-27,3,3,3,3,3,3
2020-03-29,1,1,1,1,1,1
2020-03-30,8,8,8,8,8,8
2020-03-31,2,2,2,2,2,2
2020-04-01,3,3,3,3,3,3
2020-04-02,6,6,6,6,6,6
2020-04-03,3,3,3,3,3,3
2020-04-04,2,2,2,2,2,2
2020-04-05,3,3,3,3,3,3
2020-04-06,4,4,4,4,4,4
2020-04-07,5,5,5,5,5,5
2020-04-08,7,7,7,7,7,7
2020-04-09,4,4,4,4,4,4
2020-04-10,5,5,5,5,5,5
2020-04-11,4,4,4,4,4,4
2020-04-12,3,3,3,3,3,3
2020-04-13,3,3,3,3,3,3
2020-04-14,2,2,2,2,2,2
2020-04-15,5,5,5,5,5,5
2020-04-16,11,11,11,11,11,11
2020-04-17,5,5,5,5,5,5
2020-04-18,4,4,4,4,4,4
2020-04-20,15,15,15,15,15,15
2020-04-21,3,3,3,3,3,3
2020-04-22,7,7,7,7,7,7
2020-04-23,7,7,7,7,7,7
2020-04-24,15,15,15,15,15,15
2020-04-25,6,6,6,6,6,6
2020-04-26,4,4,4,4,4,4
2020-04-27,17,17,17,17,17,17
2020-04-28,7,7,7,7,7,7
2020-04-29,12,12,12,12,12,12
2020-04-30,9,9,9,9,9,9
2020-05-01,3,3,3,3,3,3
2020-05-02,1,1,1,1,1,1
2020-05-03,5,5,5,5,5,5
2020-05-04,5,5,5,5,5,5
2020-05-05,7,7,7,7,7,7
2020-05-06,16,16,16,16,16,16
2020-05-07,10,10,10,10,10,10
2020-05-08,14,14,14,14,14,14
2020-05-09,5,5,5,5,5,5
2020-05-10,4,4,4,4,4,4
2020-05-11,5,5,5,5,5,5
2020-05-12,10,10,10,10,10,10
2020-05-13,13,13,13,13,13,13
2020-05-14,18,18,18,18,18,18
2020-05-15,4,4,4,4,4,4

Quantidade de Bairros

In [68]:
df_usu['bairro_resid__estadia'].value_counts()

INDEFINIDO            2355
COPACABANA             529
CAMPO GRANDE           414
BARRA DA TIJUCA        391
TIJUCA                 322
                      ...
COMPLEXO DO ALEMAO       2
ENGENHEIRO LEAL          2
ZUMBI                    2
PAQUETA                  2
CAMPO DOS AFONSOS        1
Name: bairro_resid__estadia, Length: 162, dtype: int64

# Importando os dados do DataSus

In [77]:
df_cap = pd.read_csv('../BASE_DE_DADOS_CNES_202003/dataset/datasus.csv', encoding='latin1')
grouped = df_cap[['NO_BAIRRO', 'QT_EXIST', 'QT_SUS']].groupby(['NO_BAIRRO']).sum()

In [79]:
grouped

                 QT_EXIST  QT_SUS
NO_BAIRRO
ACARI                 449     233
ANDARAI               273     263
BANGU                 574     273
BARRA DA TIJUCA       959     252
BENFICA                52       0
...                   ...     ...
VILA DA PENHA         294       0
VILA ISABEL           639     611
VILA MILITAR          107       0
VILA VALQUEIRE         10       0
ZUMBI                  32       0

[75 rows x 2 columns]

Concatenando

In [225]:
join_df = df_usu.set_index('bairro_resid__estadia').join(grouped, how='inner').reset_index()
join_df.rename(columns={'index': 'bairro'}, inplace=True)
join_df = pd.concat([join_df, pd.get_dummies(join_df['evolução'])], axis=1)
join_df['casos_novos'] = join_df[['ativo', 'recuperado', 'óbito']].sum(axis=1)
join_df['casos_totais'] = 0
join_df = pd.concat([join_df, pd.get_dummies(join_df['faixa_etária'], prefix='idade')], axis=1)
join_df = pd.concat([join_df, pd.get_dummies(join_df['sexo'], prefix='sexo')], axis=1)
join_df = join_df[join_df['sexo_I']==0].drop(columns=['sexo_I'])
join_df

,bairro,dt_notific,dt_inicio_sintomas,ap_residencia_estadia,sexo,faixa_etária,evolução,QT_EXIST,QT_SUS,ativo,...,idade_De 30 a 39,idade_De 40 a 49,idade_De 50 a 59,idade_De 60 a 69,idade_De 70 a 79,idade_De 80 a 89,idade_De 90 a 100,idade_N/D,sexo_F,sexo_M
0,ACARI,2020-04-04,2020-03-31,3.3,F,De 60 a 69,óbito,449,233,0,...,0,0,0,1,0,0,0,0,1,0
1,ACARI,2020-04-10,2020-04-09,3.3,M,De 80 a 89,óbito,449,233,0,...,0,0,0,0,0,1,0,0,0,1
2,ACARI,2020-05-08,2020-04-19,3.3,M,De 50 a 59,óbito,449,233,0,...,0,0,1,0,0,0,0,0,0,1
3,ACARI,2020-04-29,2020-03-22,3.3,F,De 70 a 79,óbito,449,233,0,...,0,0,0,0,1,0,0,0,1,0
4,ACARI,2020-04-08,2020-04-02,3.3,F,De 70 a 79,óbito,449,233,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5850,VILA VALQUEIRE,2020-04-14,2020-04-10,4.0,F,De 30 a 39,recuperado,10,0,0,...,1,0,0,0,0,0,0,0,1,0
5851,VILA VALQUEIRE,2020-04-17,2020-04-13,4.0,F,De 30 a 39,recuperado,10,0,0,...,1,0,0,0,0,0,0,0,1,0
5852,VILA VALQUEIRE,2020-05-06,2020-04-16,4.0,M,De 60 a 69,recuperado,10,0,0,...,0,0,0,1,0,0,0,0,0,1
5853,ZUMBI,2020-04-12,2020-04-08,3.1,F,N/D,recuperado,32,0,0,...,0,0,0,0,0,0,0,1,1,0
5854,ZUMBI,2020-05-04,2020-04-19,3.1,F,De 30 a 39,recuperado,32,0,0,...,1,0,0,0,0,0,0,0,1,0

In [226]:
join_df.columns

Index(['bairro', 'dt_notific', 'dt_inicio_sintomas', 'ap_residencia_estadia',
       'sexo', 'faixa_etária', 'evolução', 'QT_EXIST', 'QT_SUS', 'ativo',
       'recuperado', 'óbito', 'casos_novos', 'casos_totais', 'idade_De 0 a 9',
       'idade_De 10 a 19', 'idade_De 100 a 109', 'idade_De 110 a 119',
       'idade_De 20 a 29', 'idade_De 30 a 39', 'idade_De 40 a 49',
       'idade_De 50 a 59', 'idade_De 60 a 69', 'idade_De 70 a 79',
       'idade_De 80 a 89', 'idade_De 90 a 100', 'idade_N/D', 'sexo_F',
       'sexo_M'],
      dtype='object')

In [227]:
x1 = join_df.groupby(['bairro', 'dt_notific'])[['casos_novos', 'casos_totais', 'ativo', 'recuperado', 'óbito', 'sexo_F', 'sexo_M', 'idade_De 0 a 9', 'idade_De 10 a 19',
       'idade_De 100 a 109', 'idade_De 110 a 119', 'idade_De 20 a 29',
       'idade_De 30 a 39', 'idade_De 40 a 49', 'idade_De 50 a 59',
       'idade_De 60 a 69', 'idade_De 70 a 79', 'idade_De 80 a 89',
       'idade_De 90 a 100', 'idade_N/D']].sum()

In [228]:
x2 = join_df.groupby(['bairro', 'dt_notific'])[['QT_EXIST', 'QT_SUS']].mean()
x2 = x2.rename(columns={'QT_EXIST': 'n_leitos', 'QT_SUS': 'n_leitos_sus'})

In [229]:
x = pd.concat([x2, x1], axis=1)
x['casos_totais'] = x['casos_novos'].groupby(level=0).cumsum()
x

                           n_leitos  n_leitos_sus  casos_novos  casos_totais  \
bairro         dt_notific
ACARI          2020-03-17       449           233            1             1
               2020-03-30       449           233            1             2
               2020-04-04       449           233            1             3
               2020-04-05       449           233            1             4
               2020-04-08       449           233            2             6
...                             ...           ...          ...           ...
VILA VALQUEIRE 2020-05-12        10             0            1            51
               2020-05-13        10             0            2            53
               2020-05-14        10             0            2            55
ZUMBI          2020-04-12        32             0            1             1
               2020-05-04        32             0            1             2

                           ativo  recuperado  óbito  sexo_F  sexo_M  \
bairro         dt_notific
ACARI          2020-03-17      0           1      0       1       0
               2020-03-30      0           1      0       1       0
               2020-04-04      0           0      1       1       0
               2020-04-05      0           0      1       0       1
               2020-04-08      0           1      1       1       1
...                          ...         ...    ...     ...     ...
VILA VALQUEIRE 2020-05-12      0           1      0       1       0
               2020-05-13      0           2      0       2       0
               2020-05-14      1           1      0       1       1
ZUMBI          2020-04-12      0           1      0       1       0
               2020-05-04      0           1      0       1       0

                           idade_De 0 a 9  ...  idade_De 110 a 119  \
bairro         dt_notific                  ...
ACARI          2020-03-17               0  ...                   0
               2020-03-30               0  ...                   0
               2020-04-04               0  ...                   0
               2020-04-05               0  ...                   0
               2020-04-08               0  ...                   0
...                                   ...  ...                 ...
VILA VALQUEIRE 2020-05-12               0  ...                   0
               2020-05-13               0  ...                   0
               2020-05-14               0  ...                   0
ZUMBI          2020-04-12               0  ...                   0
               2020-05-04               0  ...                   0

                           idade_De 20 a 29  idade_De 30 a 39  \
bairro         dt_notific
ACARI          2020-03-17                 0                 0
               2020-03-30                 1                 0
               2020-04-04                 0                 0
               2020-04-05                 1                 0
               2020-04-08                 0                 0
...                                     ...               ...
VILA VALQUEIRE 2020-05-12                 0                 0
               2020-05-13                 0                 2
               2020-05-14                 0                 1
ZUMBI          2020-04-12                 0                 0
               2020-05-04                 0                 1

                           idade_De 40 a 49  idade_De 50 a 59  \
bairro         dt_notific
ACARI          2020-03-17                 0                 0
               2020-03-30                 0                 0
               2020-04-04                 0                 0
               2020-04-05                 0                 0
               2020-04-08                 0                 0
...                                     ...               ...
VILA VALQUEIRE 2020-05-12                 1                 0
               2020-05-13                 0                 0
               2020-05-14                 1                 0
ZUMBI          2020-04-12                 0                 0
               2020-05-04                 0                 0

                           idade_De 60 a 69  idade_De 70 a 79  \
bairro         dt_notific
ACARI          2020-03-17                 0                 0
               2020-03-30                 0                 0
               2020-04-04                 1                 0
               2020-04-05                 0                 0
               2020-04-08                 0                 1
...                                     ...               ...
VILA VALQUEIRE 2020-05-12                 0                 0
               2020-05-13                 0                 0
               2020-05-14                 0                 0
ZUMBI          2020-04-12                 0                 0
               2020-05-04                 0                 0

                           idade_De 80 a 89  idade_De 90 a 100  idade_N/D
bairro         dt_notific
ACARI          2020-03-17                 0                  0          1
               2020-03-30                 0                  0          0
               2020-04-04                 0                  0          0
               2020-04-05                 0                  0          0
               2020-04-08                 0                  0          1
...                                     ...                ...        ...
VILA VALQUEIRE 2020-05-12                 0                  0          0
               2020-05-13                 0                  0          0
               2020-05-14                 0                  0          0
ZUMBI          2020-04-12                 0                  0          1
               2020-05-04                 0                  0          0

[1822 rows x 22 columns]

In [230]:
x.to_csv('../BASE_DE_DADOS_CNES_202003/dataset/data.csv')

# Base de Dados para o aplicativo

In [241]:
df_cap = pd.read_csv('../BASE_DE_DADOS_CNES_202003/dataset/datasus.csv', encoding='latin1')
df_cap['Rua'] = df_cap['NO_LOGRADOURO']+', '+df_cap['NU_ENDERECO']
df_cap.drop(columns=['NO_LOGRADOURO', 'NU_ENDERECO'], inplace=True)
df_cap = df_cap.groupby('CO_UNIDADE').head(1)
df_cap = df_cap[['NO_FANTASIA', 'Rua', 'NO_COMPLEMENTO', 'CO_CEP', 'NU_TELEFONE', 'DS_TIPO_ESTABELECIMENTO', 'NU_LATITUDE', 'NU_LONGITUDE', 'CO_CNES']]
df_cap

,NO_FANTASIA,Rua,NO_COMPLEMENTO,CO_CEP,NU_TELEFONE,DS_TIPO_ESTABELECIMENTO,NU_LATITUDE,NU_LONGITUDE,CO_CNES
0,HOSP CASA PRONTOCOR ADM E GESTAO HOSPITALAR,"RUA SAO FRANCISCO XAVIER, 26",NaN,20550012,(21)22049900,HOSPITAL,-22.9067678,-43.2395772,63908
4,HOSPITAL BARRA DAY,"AVENIDA ARMANDO LOMBARDI, 1000",BL 02 SL 224 A 230,22640000,21-35503400,AMBULATORIO,-23.005509,-43.314102,102881
5,SMS RIO HOSPITAL MUNICIPAL JESUS,"OITO DE DEZEMBRO, 717",NaN,20550200,NaN,HOSPITAL,-22.903,-43.208,2269341
16,HOSPITAL FEDERAL DO ANDARAI,"RUA GASTAO PENALVA, 119",NaN,20540220,(21) 25757000,HOSPITAL,-22.9276592,-43.2526117526346,2269384
31,POLICLINICA PIQUET CARNEIRO,"AV MARECHAL RONDOM, 381",NaN,20950003,21 - 23342334,HOSPITAL,-22.905619361517676,-43.243823647499084,2269392
...,...,...,...,...,...,...,...,...,...
1193,INTRAECO CARDIOLOGISTAS ASSOCIADOS,"CONDE DE BONFIM, 1033",SALA 449 A 455,20530001,21 22069620,AMBULATORIO,-22.903,-43.208,9310355
1195,ALVIM ALMEIDA GRUPO HOSPITALAR,"AVENIDA VICENTE DE CARVALHO, 1159",NaN,21371121,21-3457 8800,NaN,-22.903,-43.208,9461086
1199,HOSPITAL CASA HOSPITAL DO CANCER,"RUA DO BISPO, 18",LOTE 1 PAL 10328,20261064,02135503800,HOSPITAL,-22.9247841,-43.2096901,9505512
1205,MEDCOMPANY RIO SERVICOS MEDICOS,"RUA TIROL, 536",SALA 202,22750009,NaN,NaN,NaN,NaN,9562451
1213,CENTRO HOSPITALAR AMEP JACAREPAGUA,"MARECHAL MIGUEL SALAZAR MENDES DE MORAIS, 254",NaN,22770330,21 86691518,HOSPITAL,-22.903,-43.208,9739459

In [242]:
df_cap.to_csv('../BASE_DE_DADOS_CNES_202003/dataset/app.csv', index=False)